*.swp
*.Cam
*.OutJob
*.bckp
*.dox
History
Project*
fw/build
fw/dist
fw/nbproject
fw/bonsai_water.X/html
fw/bonsai_water.X/latex
fw/bonsai_water.X/out
fw/bonsai_water.X/obj
fw/bonsai_water.X/dist
fw/bonsai_water.X/build
fw/bonsai_water.X/*.txt
**tags
**cscope.out
